.login-page {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 380px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
    text-align: center;
}

.login-card h1 {
    color: #1e40af;
    margin-bottom: 10px;
}

.login-card p {
    color: #555;
    margin-bottom: 25px;
}

.login-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.login-card input:focus {
    border-color: #2563eb;
}

.login-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-card button:hover {
    background: #1d4ed8;
}

.error {
    color: red;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

/* Password Box */

.password-box {
    position: relative;
    width: 100%;
    margin-bottom: 18px;
}

.password-box input {
    width: 100%;
    padding: 14px;
    padding-right: 55px;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.password-box input:focus {
    border-color: #2563eb;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

/* Login Options */

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    font-size: 14px;
}

.login-options label {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #555;
    cursor: pointer;
}

.login-options input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0;
}

.login-options a {
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
}

.login-options a:hover {
    text-decoration: underline;
}   

